VITE_CAPTURGO_API_BASE_URL=https://captur-api-208129623932.asia-east2.run.app/api/v1
VITE_PRIVY_APP_ID=cmj5wppqx00y8jo0cl794vgbz
VITE_RAFFLE_CAMPAIGN_ID=b59966be-20cd-484c-93a3-770295a16c62
VITE_ADMIN_EMAIL=admin@example.com
VITE_DEVICE_ID=your-device-id
VITE_DEVICE_TYPE=ios
